body {
    font-family: -apple-system, BlinkMacSystemFont,  sans-serif;
    margin: 0 40px;
}
#name-header {
    font-weight: 200;
    color: #105386;
    font-size: 4em;
    text-align: right;
    margin: 0.5em 0 0.8em 0; 
}

@media (max-width: 800px) {
    #name-header {
        font-size: 2.2em;
    }
    body {
        margin: 0 20px;
    }
}

#first-name-header {
    margin-bottom: -0.2em;
}

#last-name-header {
    font-size: 1.2em;
}


h1 {
    font-size:150px;
    -webkit-margin-before: 0;
}

#links {
    font-size: 2.5em;
    margin: 0;
    letter-spacing: -1px;
    list-style: none;
    padding: 0;
    font-weight: 100;
}

@media (max-width: 800px) {
    #links {
        font-size: 2em;
    }
}

#links a {
    color: #105386;
    padding-right: 8px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    line-height: 1.25em;
}

#links > li > a > i, #flickr-logo {
    margin-right: 10px;
}

#links > li > a:hover {
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.link-icon {
    margin-right: 10px;
}

#email-address-li {
    margin-top: 25px;
}
#flickr-logo {
    padding-left: 10px;
    width: 30.5px;
    height: 14px;
    margin: -10px 20px 8px 0px; 
    pointer-events: none;
}

#public-works {
    margin-bottom: 25px;
}

#public-works a {
    padding-top: 5px;
}

#public-works img {
    padding-left: 10px;
    width: 32px;
    height: 43.95px;
    pointer-events: none;
    margin: 0 17px -3px 0;
}

@media (max-width: 800px) {
    #public-works img {
        width: 25px;
        height: 35px;
        margin: 0 14px -3px 0;
    }
    #flickr-logo {
        width: 24px;
        height: 11px;
        margin-right: 16px;
    }
}

.fa-twitter {
    color: #1da1f2;
}

#ig i {
    color: #DDA40D;
}

#watermark {
    color: rgba(255,255,255,.7);
    position: absolute;
    bottom: 0;
    left: -100px;
    transform: rotate(12deg);
    white-space: nowrap;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont,  sans-serif;
    font-weight: 100;
    width: 110vw;
}

@media (min-width: 1600px) {
    #watermark{
        bottom: -10vh;
    }
}

#watermark > div:nth-child(2) {
    margin-left: -25pt;
    font-weight: 300;    
}

#watermark > div:nth-child(3) {
    margin-left: -50pt;
    font-weight: 500;    
}

#watermark > div:nth-child(4) {
    margin-left: 50pt;
    font-weight: 700;    
}

#watermark > div:nth-child(5) {
    margin-left: 25pt;
    font-weight: 700;        
}
