body {
    font-family: "Roboto", sans-serif;
    flex-basis: 100%;
    border: solid 18px #000;
    margin: 10px;
    border-radius: 4px;
    min-height: 700px;
}
html {
    display: flex;
    height: 100%;
}
#name-header {
    font-weight: 100;
    letter-spacing: -10px;
    color: black;
    font-family: "Lato", -apple-system, BlinkMacSystemFont,  sans-serif;
    font-size: 190px;
    margin-top: -40px;
}

h1 {
    font-size:150px;
    -webkit-margin-before: 0;
}

#main {
    margin: 50px 0 0 50px;
}

#links {
    font-size: 55px;
    letter-spacing: -1px;
    list-style: none;
    padding: 0 0 0 0;
    margin-top: 10px;
    font-weight: 300;
}

#links > li > a {
    color: black;
    padding-right: 12px;
    text-decoration: none;
}

#links > li > a > i, #flickr-logo {
    margin-right: 10px;
}

#links > li > a:hover {
    background-color: #000;
    color: #fff;
}

#cako-io > a > i {
    color: #d60000;
}

#scrobble-shelf {
    margin-bottom: 20px;
}

.link-icon {
    margin-right: 20px;
}

#email-address-li {
    margin-top: 25px;
}
#flickr-logo {
    width: 51px;
    padding: 10px 10px 8px 10px; 
    pointer-events: none;
}
.fa-twitter {
    color: #1da1f2;
}
